.sliderMG{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.sliderMG .slideTrackMG{
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);

}
.sliderMG .slideTheMG{
    width: 200px;
}
.sliderMG .slideTheMG img{
    width: 100%;
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}