.card-product{
  min-height: 100%;
  background-color: var(--color-5-mas-claro) !important
}

.card-product .card-img{
  text-align: center;
  background: white;
}

.card-product .card-img img{
  max-height: 150px;
}

.bg-color-item{
  background-color: var(--color-5-mas-claro) !important
}

.bg-modal-body{
  background-color: #626262 !important;
}



